@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
:root[theme='dark'] {
  --primary: #ffc800;
  --text: rgba(241, 233, 231, 1);
  --text-secondary: rgba(241, 233, 231, 0.6);
  --background: rgba(0, 0, 0, 1);
  --background-variant: rgba(28, 26, 26, 1);
  --border: rgba(241, 233, 231, 0.15);
  --border-light: rgba(241, 233, 231, 0.05);
  --positive: #0cce6c;
  --negative: #f36c6c;
}
:root[theme='light'] {
  --primary: #ffc800;
  --text: rgba(58, 52, 51, 1);
  --text-secondary: rgba(58, 52, 51, 0.7);
  --background: rgb(247, 247, 247);
  --background-variant: rgba(251, 249, 249, 1);
  --border: rgba(58, 52, 51, 0.12);
  --border-light: rgba(58, 52, 51, 0.05);
  --positive: #0cce6c;
  --negative: #f36c6c;
}
* {
  padding: 0px;
  margin: 0px;
}
html,
body,
#root,
.website-layout-split,
.website-layout-full {
  min-height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
  padding-top: 0px;
}

.text-center {
  text-align: center;
}

/** LAYOUT **/
@import './layout.css';
@import './drawer.css';
@import './forms.css';
@import './navbar.css';
